<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nueva contrasena - Aplicacion</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/untitled.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-password-image" style="background-image: url(&quot;static/img/dogs/image1.jpeg&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Nueva contrasena requerida</h4>
                                        <br><p class="text-gray-600 small">Parece tu contrasena tiene mas de tres meses o el administrador reinicio tu contrasena porque olvidaste la que tenias. Para continuar, debes generar una nueva.</p>
                                        <p class="text-gray-600 small">Recuerda que tu nueva contrasena debe ser mayor a 8 caracteres y contener <b>al menos un numero o un caracter especial</b>. Adicionalmente, <b>no puede ser la que el administrador configuro</b>.</p><br>
                                    </div>
                                    <form class="user" method="post">
                                        <div class="form-group">
                                            <input class="form-control form-control-user" type="password" id="password1" placeholder="Ingresa tu contrasena nueva" name="password1">
                                        </div>    
                                        <div class="form-group">
                                            <input class="form-control form-control-user" type="password" id="password2" placeholder="Por favor repite tu contrasena" name="password2">
                                        </div>
                                        <div class="form-group">
                                            <div class="small">
                                                <div style="text-align: center;color:rgb(168, 63, 63)">{{ message }}</div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block text-white btn-user" type="submit">Reestablecer contrasena</button></form>
                                    <div class="text-center">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>